<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>{{ project.name }}</h1>
      <p>{{ project.description }}</p>
      <!-- Raw HTML begin -->{% for artikel in query.artikel_alle %}
      <div>
        <h2>
          <a href="/Artikel?id={{artikel.article_id}}">
            {{ artikel.caption }}
          </a>
        </h2>
        <p>{{ artikel.text }}</p>
      </div>
      {% endfor %}<!-- Raw HTML end -->
    </div>
    {% include "edit-ribbon" %}
  </body>
</html>

