<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} - {{ project.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
  </head>

  <body>
    <div class="container-fluid">
      <p>Hier stelle ich mein Pokémon mit der ID {{ get.id }} vor: <strong>{{ query.pokemon.spitzname }}</strong>. Es ist ein {{ query.pokemon.name }} und {{ query.pokemon.staerke }} Punkte stark.</p>
      <form><input type="hidden" name="gefangen_id" value="{{ get.id }}">
        {% include "input" caption: "Neue Stärke", outParamName: "staerke", description: "", inputType: "number", required: true  , initialValue: query.pokemon.staerke %}
        <button type="submit" formaction="/Gefangen_Einzeln/query/18e5fe58-a209-4ccb-9c85-192e3330b42e?" formmethod="POST" class="btn btn-secondary btn-block">Stärke setzen</button></form>
      <a href="/Hauptseite">Zurück zur Hauptseite</a>
    </div>
    {% include "edit-ribbon" %}
  </body>


</html>

