<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">

    <title>Fehler</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Fehler {{ exception.code }}: <code>{{ exception.type }}</code></h1>

      <p>Leider ist bei der Abfrage etwas schiefgelaufen! Der Server hat die folgende Fehlernachricht übermittelt:</p>
      
      <pre>{{ exception.message }}</pre>

      {% if exception.sql %}
        <h2>SQL-Code der Abfrage</h2>
        <pre>{{ exception.sql}}</pre>
      {% endif %}

      {% if exception.params %}
        <h2>Parameter der Abfrage</h2>
        <pre>{{ exception.params}}</pre>
      {% endif %}
    </div>
  </body>
</html>
