<div style="margin-top: 20px; padding:20px; border-top-width: 3px;border-top-style: solid;">
{% displaySourceList %}
<table class="table">
  {% for author_sources_entry in sources_grouped %}
  {% assign author_name = author_sources_entry[0]['author-name'] %}
  {% assign author_url = author_sources_entry[0]['author-url'] %}
    <tr>
      <td>
        <table class="table">
          {% for image_entry in author_sources_entry[1] %}
            {% assign id = image_entry[0] %}
            {% assign name = image_entry[1]['name'] %}
            {% assign licence_name = image_entry[1]['licence-name'] %}
            {% assign licence_url = image_entry[1]['licence-url'] %}
            {% assign count = image_entry[1]['count'] %}
            <tr>
              <td>
                {{ name }}
                {% for i in (0..count) limit:count %}
                   [<a href="#{{id}}-{{i}}">{{i}}</a>]
                {% endfor %}
              </td>
              <td>
                <a href="{{ licence_url }}">{{ licence_name }}</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <a href="{{author_url}}">{{author_name}}</a>
      </td>
    </tr>
  {% endfor %}
</table>
</div>
